{{ template "base" .}}



{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>about page</h1>

            <p>this is some text</p>

            <p>this from template:{{index .StringMap "test"}}</p>

            <p>
                {{if ne (index .StringMap "user_ip") ""}}
                Your remote Ip add is {{index .StringMap "user_ip"}}
                {{else}}
                    Don't have your Ip yet. Vist <a href="/">Home page</a>
                {{end}}
            </p>

        </div>
    </div>
</div>

{{end}}
