{{ template "base" .}}



{{define "content"}}

    <div class="container">
      <div class="row">
        <div class="col">
          <h1>contact page</h1>
        </div>
      </div>

      <div class="row">
        <div class="col"></div>
      </div>
    </div>

{{end}}
