{{ template "base" .}}



{{define "content"}}

    <div class="container">
      `
      <div class="row">
        <div class="col">
          <img
            class="img-fluid image-thumbnail mx-auto d-block room-image"
            src="./static/images/generals-quarters.png"
          />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h1 class="text-center mb-4">Welcome to space general rooms</h1>
          <p>
            hello here I am hello here I am hello here I am hello here I am
            hello here I am hello here I am hello here I am hello here I am
            hello here I am hello here I am hello here I am hello here I am
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <a id="checkAva" class="btn btn-success" href="#!">Check Availability</a>
        </div>
      </div>
    </div>


{{end}}

{{define "js"}}
<script>
      document.getElementById('checkAva').addEventListener('click', function(){
       // notify('this is a message','success')
       /*notifyModal(
         'title!',
        "<em>hello</em>",
        'success',
         'Cool'
      )
*/


      const html =`
      <form id='checkAvaForm' action="" method='post' novalidate>
        <div class="form-row">
          <div class="col">
            <div class="form-row" id='reservation-modal'>
              <div class="col">
                <input disabled required type="text" class="form-control" name="start" id='start' placeholder='start'>
              </div>

              <div class="col">
                <input disabled required type="text" class="form-control" name="end" id='end' placeholder='end'>
              </div>
            </div>
          </div>
        </div>
      </form>
      `
      //attention.toast({msg:'Hello'})
      attention.custom({msg:html, title:'Choose your date',
       willOpen:()=>{
            const elem=document.getElementById('reservation-modal');
            const rangepicker= new DateRangePicker(elem, {
              format:'yyyy-mm-dd',
              showOnFocused: true
            })
          },
          didOpen:()=>{
            document.getElementById('start').removeAttribute('disabled')
            document.getElementById('end').removeAttribute('disabled')
          },
      callback: function(result){

    let form = document.getElementById('checkAvaForm')

    let formData = new FormData(form)
    formData.append('csrf_token', "{{.CSRFToken}}")

      fetch('/search-ava-json',{
      method:'POST',
      body:formData
      }).then(response => response.json()).then(data=>{console.log(data)})
      }
      })
      })


</script>
{{end}}


