{{ template "base" .}}



{{define "content"}}

    <div class="container">
      {{$res := index .Data "reservation"}}


      <div class="row">
        <div class="col">
          <h1>Make reservation</h1>
<p>
  <strong>Reservation</strong><br>
    Room:{{$res.Room.RoomName}}<br>
  Arrival: {{index .StringMap "start_date"}}<br>
  Departure: {{index .StringMap "end_date"}}<br>
</p>

          <form method="POST" action="#" class="'needs-validation" novalidate>
            <input name="csrf_token" type="hidden" value="{{.CSRFToken}}">

            <div class="form-group mt-5">
              <label for="first_name">First name:</label>
              {{with .Form.Error.Get "first_name"}}
              <label class="text-danger">{{.}}</label>
              {{end}}
              <input
                type="text"
                name="first_name"
                id="first_name"
                class='form-control {{with .Form.Error.Get "first_name"}} is-invalid {{end}}'
                required
                autocomplete="off"
                value="{{$res.FirstName}}"

              />
            </div>
            <div class="form-group">
              <label for="last_name">Last name:</label>
              {{with .Form.Error.Get "last_name"}}
              <label class="text-danger">{{.}}</label>
              {{end}}
              <input
                      autocomplete="off"
                      class="form-control"
                      id="last_name"
                      name="last_name"
                      required
                      type="text"
                      value="{{$res.LastName}}"


              />
            </div>
            <input type="hidden" name="start_date" value="{{index .StringMap "start_date"}}">
            <input type="hidden" name="end_date" value="{{index .StringMap "end_date"}}">
            <input type="hidden" name="room_id" value="{{$res.RoomID}}"/>
            <div class="form-group">
              <label for="email">Email:</label>
              {{with .Form.Error.Get "email"}}
              <label class="text-danger">{{.}}</label>
              {{end}}
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                required
                autocomplete="off"
                value="{{$res.Email}}"

              />  
            </div>
            <div class="form-group mt-5">
              <label for="phone"> Phone:</label>
              {{with .Form.Error.Get "phone"}}
              <label class="text-danger">{{.}}</label>
              {{end}}
              <input
                type="tel"
                name="phone"
                id="phone"
                class="form-control"
                required
                autocomplete="off"
                value="{{$res.Phone}}"

              />
            </div>
            <hr />

            <input
              type="submit"
              class="btn btn-primary"
              value="Make Reservation"
            />
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col"></div>
      </div>
    </div>

{{end}}